<style type="text/css" id="design-grid-css">
#block-yui_3_17_2_2_1508419844912_45643 .sqs-gallery-block-grid .sqs-gallery-design-grid { margin-right: -50px; }
#block-yui_3_17_2_2_1508419844912_45643 .sqs-gallery-block-grid .sqs-gallery-design-grid-slide .margin-wrapper { margin-right: 50px; margin-bottom: 50px; }
</style>


<style type="text/css" id="design-grid-css">
#block-yui_3_17_2_2_1507562997620_13678 .sqs-gallery-block-grid .sqs-gallery-design-grid { margin-right: -50px; }
#block-yui_3_17_2_2_1507562997620_13678 .sqs-gallery-block-grid .sqs-gallery-design-grid-slide .margin-wrapper { margin-right: 50px; margin-bottom: 50px; }
</style>

<style>
    #block-yui_3_17_2_4_1497377099297_36622 .social-icons-style-border .sqs-svg-icon--wrapper {
      
        box-shadow: 0 0 0 2px inset;
      
      border: none; 
    }
  </style>

 